@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'Poppins', sans-serif;
}

label {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.show-up {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0);
  transition: all 1s;
}

.hidden-down {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);

}

.show-left {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  transition: all 2s;
}

.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);

}

.show-right {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  transition: all 2s;
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);

}

/* home banner css */

.carousel-item {
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.hidden {
  opacity: 0;
}

.carousel-item.block {
  opacity: 1;
}

.btn-circle {
  background-color: #00000080;
  /* semi-transparent black background */
  color: white;
  border-radius: 50%;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.btn-circle:hover {
  background-color: #000000cc;
  /* darker on hover */
}